* {
    margin: 0;
    padding: 0;
}

.form {
    background: rgb(208, 208, 208);
    margin: 200px auto 200px;
    text-align: center;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.inputs {
    border: none;
    margin-top: 20px;

    #height {
        height: 30px;
        width: 60%;
        border-radius: 20px;
        outline: none;
        border: none;
        padding: 5px;
    }

    #weight {
        margin: 10px 0;
        height: 30px;
        width: 60%;
        border-radius: 20px;
        outline: none;
        border: none;
        padding: 5px;
    }
}

.button {
    border: none;
    outline: none;
    width: 85%;
    height: 30px;
    border-radius: 15px;
    background: rgb(144, 3, 3);
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.guide {
    margin-top: 20px;
}

.info {
    margin-top: 10px;
}

.results {
    margin-top: 10px;
    color: #8c0091;
    font-weight: bolder;
}
